<div class="container-fluid" >
  <br><br>
  <div class="row">
    <div class="col-sm-2">
    <div class="sidenav">        
      <img src="https://www.belrium.io/lib/img/logo.png" alt="Belrium logo"><span style="color: #AF070E">&nbsp; <b>Bel</b></span><span style="color: #ffffff"><b> Books</b></span>
                <hr>
                <a href="#">About</a>
                <a class="active" href="../home/home.component.html">Home</a>
                <a href="#">Contact</a>
    </div>
    </div>   
<div class="col-sm-4">
    <h2>Employer &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="glyphicon glyphicon-user" style="float:center"></span></h2> <br>
    <p><b>Issue payslip to your<br> employee with to us</b></p>
    <input type="text" id="email" placeholder="Email" style="height:30px;width:226px">
      <button id="submit" style="background:rgb(42, 170, 46); height:30px; width:56px"><span style="color:#ffffff">Submit</span></button>
  </div><br>

  <div class="container ridge">
    <h2>Verifier &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="glyphicon glyphicon-user" style="float:center"></span></h2><br>
    <p><b>Verify, <br>If the payslip is valid</b></p>
    <button id="verify" style="background:rgb(42, 170, 46); height:30px; width:290px"><span style="color:#ffffff">verify</span></button>
  </div>    
<!-- </div> -->
<div class="col-sm-6" style="float:center">
  <img src="../../../assets/images/Homepage2.png" alt="Image" style="width:500px;height:300px;">
</div>
      
</div>

        
</div>